REMOTE_IP=
NGINX_PORT=80
POSTGRES_DB=monkeycode-ai
POSTGRES_USER=monkeycode-ai
POSTGRES_PASSWORD=
REDIS_PASSWORD=
CLICKHOUSE_DB=monkeycode-ai
CLICKHOUSE_USER=monkeycode-ai
CLICKHOUSE_PASSWORD=
RUSTFS_ACCESS_KEY=
RUSTFS_SECRET_KEY=
TEAM_EMAIL=
TEAM_NAME=MonkeyCode
TEAM_PASSWORD=
SUBNET_PREFIX=10.100.50
