{
  "snapshot": false,
  "agent": {
    "title": {
      "disable": true
    }
  },
  "provider": {
    "monkeycode-ai": {
      "npm": "@ai-sdk/openai-compatible",
      "name": "monkeycode-ai",
      "options": {
        "baseURL": "{{.base_url}}"
      },
      "models": {
        "{{.model}}": {
{{- if .disable_thinking }}
          "options": {"thinking": {"type":"disabled"}},
{{- end }}
          "name": "{{.model}}",
          "limit": {"context": 200000, "output": 32000}
        }
      }
    }
  },
  "model": "monkeycode-ai/{{.model}}",
  "instructions": ["/tmp/codingmatrix-project-tpl/.ai-ready/rules/*.md"]
}